@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

body {
    min-width: 380px;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', serif;
}

/* header */
.avatar {
    display: flex;
    justify-content: center;
    margin: 3% auto 0;
    width: 120px;
    height: 120px;
}

.avatar img {
    border-radius: 15px;
    width: 120px;
    height: 120px;
}

.title {
    color: #ffffff;
    font-weight: 300;
    font-size: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 0 10px 0;
}

.subtitle {
    font-family: 'Nunito', serif;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 0 20px 0;
}

/* line */
.line {
    display: flex;
    background: #00000017;
    height: 1px;
    margin: 15px;
}

/* channels, social-medias and mail*/
.channels,
.social-medias,
.other-social-medias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 0 auto;
}

/* channels and mail*/
.channel-text,
.other-social-media-text {
    display: flex;
    position: relative;
    align-items: center;
    letter-spacing: 1px;
    padding: 6px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 17px;
    margin: 10px;
    color: #ffffffa3;
    background: #00000052;
    border-color: #0000002e;
    transition: 0.5s;
}

.channel-text:hover,
.other-social-media-text:hover {
    background: #000000;
    color: #ffffff;
    transition: 0.5s;
}

.channel-text img,
.other-social-media-text img {
    margin-right: 8px;
}

.channel-text:before,
.other-social-media-text:before {
    font-size: 12px;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 100px;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
}

.channel-text:hover:before,
.other-social-media-text:hover:before {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

/* channels */
.channels {
    max-width: 700px;
}

.channel-text {
    font-family: 'Nunito', serif;
    font-size: 20px;
}

.channel-text img {
    height: 25px;
    border-radius: 10px;
}

.channel-text img {
    height: 25px;
}

.channel-text:before {
    left: 33%;
    top: -70%;
}

/* social-medias */
.social-medias {
    font-size: 16px;
    max-width: 600px;
}

.social-media {
    position: relative;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    margin: 15px 18px 15px;
    width: 75px;
    opacity: 1;
    transition: opacity 0.5s;
}

.social-media:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.social-media a {
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media img {
    width: 75px;
    height: 75px;
}

.social-media-txt {
    margin-top: 5px;
    color: #bdbdbd;
}

/* other-social-medias */
.other-social-medias {
    max-width: 600px;
}

.other-social-media-text img {
    height: 20px;
}

.other-social-media-text {
    font-size: 16px;
}

.other-social-media-text:before {
    left: 32%;
    top: -80%;
}

.other-social-media-text.copied {
    background: #96ADD156;
}

@media (pointer:coarse) {
    .channel-text:hover,
    .mail-text:hover {
        color: #ffffffa3;
        background: #00000052;
    }

    .channel-text:hover:before,
    .mail-text:hover:before {
        opacity: 0;
        visibility: hidden;
    }

    .social-media:hover {
        opacity: 1;
    }
}

/* background */
.bg {
    width: 120%;
    height: 120%;
    position: fixed;
    top: -10%;
    right: -10%;
    z-index: -100;
}

.bg-mask {
    width: 120%;
    height: 120%;
    position: fixed;
    background: linear-gradient(180deg, #080C0F 10%, rgba(8, 12, 15, 0.76) 32.56%, rgba(8, 12, 15, 0.76) 100%);
}