@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900');

body {
  font-family: 'Lexend', serif;
  height: 100vh;
  background: #131313;
  padding: 20px;
  overflow: hidden;
}

.background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
}

.background-wrapper h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 50vmax;
  color: #282828;
  margin: 0;
  transition: 750ms ease-in-out;
}

a {
  border: 2px solid #555;
  padding: 0.5em 0.8em;
  position: fixed;
  z-index: 1;
  color: #555;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 150ms;
}

a svg>polyline {
  transition: 150ms;
}

a:hover {
  color: #333;
  background: #cccccc;
  border-color: transparent;
}

a:hover+.background-wrapper>h1 {
  color: #cccccc;
}